<div class="card">
  <div class="card-body newTab">
    <div *ngFor="let m of mensajes">
      <div *ngIf=!valida(m)>
        <div class="row" align="center">
          <div class="col-md-2"><div class="rounded border p-1">{{m.username}}</div></div>
          <div class="col-md-7"><div class="rounded border p-1">{{m.mensaje}}</div></div>
          <div class="col-md 3"></div>
        </div>
        <br>
      </div>
      <div *ngIf=valida(m)>
        <div class="row" align="center">
          <div class="col-md-2"><div class="rounded"></div></div>
          <div class="col-md-7">
            <div class="rounded border p-1 border-primary badge-primary">{{m.mensaje}}</div>
          </div>
          <div class="col-md 3">
            <div class="rounded border p-1 border-primary badge-primary">{{m.username}}</div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-10">
      <input type="text w-100" class="form-control" [(ngModel)]="msg.mensaje">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)=newMessage()>Enviar</button>
    </div>
  </div>
</div>